@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Noto+Sans+KR:wght@300&family=Open+Sans:wght@600&display=swap');
@import "reset.css";
@import "variable.css";
/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
/*screens*/
@import "screens/login.css";

body{
    font-family: 'Open Sans', sans-serif;
height: 1000vh;}

