#friend-display-link{
    display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
    top: 110px;
    position: absolute;
    background-color: #f2f2f2 ;
padding: 20px;
font-size: 19px;
}
#friend-display-link i{
    color: rgba(0, 0, 0, 0.3);
    margin-right: 8px;
    margin-left: 15px;
}
.div{
    position: relative;
}
